# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Venv
.venv/
env/
ENV/
env.bak/
venv/
.venv/

# Dotenv
.env
.env.*
*.env
*.local
*.secret

# IDE
.vscode/
.idea/

# Logs, DBs, Cache
*.log
*.sqlite3
*.db
*.swp
*.bak

# OS
.DS_Store

# Project-specific
/db
/credentials_*.json
pip-selfcheck.json
