fastapi
uvicorn
python-dotenv
openai
requests
cryptography
sqlalchemy
pydantic
python-telegram-bot==20.*
google-api-python-client
google-auth
google-auth-oauthlib
numpy<2.0
chromadb
langchain-openai
python-amazon-sp-api
psycopg2-binary
SQLAlchemy
redis
nest_asyncio
boto3